{
	"root": true,

	"extends": "@ljharb/eslint-config/node/12",

	"rules": {
		"array-bracket-newline": ["error", { "multiline": true, "minItems": 1 }],
		"array-element-newline": ["error", { "multiline": true, "minItems": 2 }],
		"func-style": "off",
		"max-lines-per-function": ["error", 115],
		"no-magic-numbers": ["error", { "ignore": [0, 1, -1] }],
		"no-throw-literal": "warn",
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"max-lines-per-function": "off",
				"no-magic-numbers": "off",
			},
		},
	],
}
