{
	"root": true,

	"extends": "@ljharb/eslint-config/node/latest",

	"rules": {
		"array-bracket-newline": [2, { "multiline": true, "minItems": 1 }],
		"array-element-newline": [2, { "multiline": true, "minItems": 2 }],
		"func-style": "off",
		"max-lines-per-function": [2, 115],
		"no-magic-numbers": [2, { "ignore": [0, 1, -1] }],
		"no-throw-literal": "warn",
		"operator-linebreak": [2, "none", { "overrides": { "?": "before", ":": "before" } }]
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"max-lines-per-function": "off",
				"no-magic-numbers": 0,
			},
		},
	],
}
